<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />

    <title>403 - Доступ запрещён</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
    <div class="page-background" style="background-image: url('/static/images/wallpaper.jpeg');">
        <div class="content-tile">
            <h1>403</h1>
            <p class="subtitle">У вас нет прав для доступа к этой странице.</p>

            <img src="static/images/error_code/403.png" style="align-self: center; max-width: 100%; margin: 1rem 0;" />

            <nav class="links-list">
                <a href="/">Вернуться на главную</a>
            </nav>
        </div>
    </div>
</body>

</html>