<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />

    <meta http-equiv="refresh" content="300" />

    <title>418 - Я чайничек</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
    <div class="page-background" style="background-image: url('/static/images/wallpaper.jpeg');">
        <div class="content-tile">
            <h1>418</h1>
            <p class="subtitle">У нас начались технические шоколадки</p>
            <p class="subtitle">Если данная страница держится продолжительное время - Гром останавливает Каина от
                испития пятой банки энергоса</p>
            <p class="subtitle">Ах и да. Потом будет шоу</p>

            <img src="/static/images/error_code/418.png" style="align-self: center; max-width: 100%; margin: 1rem 0;" />
        </div>
    </div>
</body>

</html>