<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />

    <title>502 — сервер не отвечает</title>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
    <div class="page-background" style="background-image: url('/static/images/wallpaper.jpeg');">
        <div class="content-tile">
            <h1>502</h1>
            <p class="subtitle">Кто-то воткнул свежий билд и сервер скончался от впечатлений. Ожидаем обновления</p>
            <p class="subtitle">Если данная страница держится более часа - ткните Каина</p>
        </div>
    </div>
</body>

</html>