<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />

    <title>Оплата услуги — S.P.F. Base</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Оплата услуги S.P.F. Base" />
    <meta property="og:description" content="Страница оплаты донат-услуги проекта S.P.F." />
    <meta property="og:image" content="https://spf-base.ru/static/images/logo.jpg" />
    <meta property="og:url" content="https://spf-base.ru/pay" />
    <meta property="og:type" content="website" />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ 'main.css' | ver }}" />
    <link rel="stylesheet" href="{{ 'pay.css' | ver }}" />
</head>

<body>
    <div class="page-background" style="background-image: url('/static/images/wallpaper.jpeg');">
        <div class="content-tile">
            <h1>Информация о покупке</h1>
            <ul>
                <li><strong>Услуга:</strong>{{ services_name }}</li>
                <li><strong>Цена:</strong>{{ services_value }} ₽</li>
                <li><strong>Описание:</strong>{{ services_description }}</li>
            </ul>

            <form method="post" action="/pay/confirm">
                <input type="hidden" name="payment_link" value="{{ uuid }}" />

                <label class="checkbox-label">
                    <input type="checkbox" id="offerConsent" required />
                    <div class="custom-checkbox"></div>
                    Я ознакомлен и согласен с <a href="/wiki/docs/oferta" target="_blank">публичной офертой</a>
                </label>

                <br /><br />
                <button type="submit" id="submitButton" disabled>Оплатить</button>
            </form>
        </div>
    </div>

    <script>
        const checkbox = document.getElementById('offerConsent');
        const button = document.getElementById('submitButton');

        checkbox.addEventListener('change', () => {
            button.disabled = !checkbox.checked;
        });
    </script>
</body>

</html>