<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />

    <title>Оплата отменена</title>

    <meta property="og:title" content="S.P.F. Base" />
    <meta property="og:description" content="Официальный сайт проекта S.P.F. на базе Garry's Mod" />
    <meta property="og:image" content="https://spf-base.ru/static/images/logo.jpg" />
    <meta property="og:url" content="https://spf-base.ru/" />
    <meta property="og:type" content="website" />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ 'main.css' | ver }}" />
    <link rel="stylesheet" href="{{ 'pay.css' | ver }}" />
</head>

<body>
    <div class="page-background" style="background-image: url('/static/images/wallpaper.jpeg');">
        <div class="content-tile">
            <h1>Оплата была отменена</h1>
            <p>Номер платежа: <strong>{{ uuid }}</strong></p>

            <p class="warning">
                Внимание: отмена платежа означает, что средства не были зачислены.<br /><br />
                Если это произошло по ошибке - свяжитесь с администрацией.
            </p>

            <nav class="links-list">
                <a href="/">Вернуться на главную</a>
            </nav>
        </div>
    </div>
</body>

</html>