<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta property="og:title" content="S.P.F. Base" />
    <meta property="og:description" content="Официальный сайт проекта S.P.F. на базе Garry's Mod" />
    <meta property="og:image" content="https://spf-base.ru/static/images/logo.jpg" />
    <meta property="og:url" content="https://spf-base.ru/" />
    <meta property="og:type" content="website" />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ 'main.css' | ver }}" />
    <link rel="stylesheet" href="{{ 'wiki.css' | ver }}" />
</head>

<body>
    <div class="page-background" style="background-image: url('{{ background_url }}');">
        <div class="content-tile">
            <div class="last-modified" style="font-size: 0.8em; color: #666; margin-bottom: 10px;">
                Последнее изменение: {{ meta.date[0] }}
            </div>
            <main class="markdown-body">
                {{ content|safe }}
            </main>
        </div>
    </div>
</body>

</html>